
canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: crosshair;
}
body {
    overflow: hidden;
}
div {
    user-select: none;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgba(40,40,40,0.5);
}
::-webkit-scrollbar-thumb {
    background: rgba(20,20,20,0.5);
}

@font-face {
    font-family: 'pixel';
    src: url(/client/websiteAssets/MiniSet2.ttf@14d552ae72d147f7b96abae4220f32c0.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.UI-button-light {
    position: absolute;
    font-family: 'pixel';
    color: #ffffff;
    background-color: #502000;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    cursor: pointer;
}
.UI-button-light:hover {
    background-color: #251000;
}
.UI-input-light {
    position: absolute;
    font-family: 'pixel';
    color: #000000;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: text;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-text-light {
    position: absolute;
    font-family: 'pixel';
    color: #000000;
    border: 0px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.disconnected {
    background-color: #ff0000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 75px;
    color: #000000;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
    user-select: none;
}
.disconnected:hover {
    opacity: 1;
    font-size: 150px;
}
.spectator {
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 20px;
    color: #000000;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
}
.spectator:hover {
    opacity: 1;
    font-size: 45px;
}
.respawn {
    background-color: #555555;
    top: 0px;
    right: 0px;
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
    user-select: none;
}
.respawn:hover {
    opacity: 1;
    font-size: 45px;
    user-select: none;
}
.name {
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 15px;
}
#username {
    position: absolute;
    top: 60px;
    left: 100px;
}
#password {
    position: absolute;
    top: 90px;
    left: 100px;
}
#username-label {
    position: absolute;
    top: 60px;
    left: 10px;
}
#password-label {
    position: absolute;
    top: 90px;
    left: 10px;
}
#createAccount {
    position: absolute;
    top: 120px;
    left: 10px;
}
#deleteAccount {
    position: absolute;
    top: 150px;
    left: 10px;
}
#ad1 {
    top: 150px;
    left: 10px;
}
#ad2 {
    top: 175px;
    left: 10px;
}
#ad3 {
    top: 200px;
    left: 10px;
}
#mainAttack {
    bottom: 75px;
    left: 10px;
    user-select: none;
}
#secondaryAttack {
    bottom: 45px;
    left: 10px;
    user-select: none;
}
#heal {
    bottom: 15px;
    left: 10px;
    user-select: none;
}
#gameDiv {
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#chat-text {
    position: absolute;
    bottom: 10px;
    left: 35%;
    width: 510px;
    height: 150px;
    overflow-y: scroll;
}
#chat-input {
    position: absolute;
    bottom: 10px;
    left: 35%;
    width: 500px;
    height: 25px;
}
.death-screen {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(255,0,0,0.3);
}
#disconnected {
    position: absolute;
    top: 50%;
    left: 50%;
}
#blackShade {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
}
