
body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
div {
    user-select: none;
}
button {
    outline: none;
    cursor: pointer;
}
canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#gameDiv {
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}
#ctx0 {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#ctx1 {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#map0 {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#map1 {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#worldMapCanvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
#worldMapEntityCanvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgba(40,40,40,0.5);
}
::-webkit-scrollbar-thumb {
    background: rgba(20,20,20,0.5);
}

@font-face {
    font-family: 'pixel';
    src: url(/client/websiteAssets/MiniSet2.ttf@14d552ae72d147f7b96abae4220f32c0.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.UI-display-light {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    cursor: default;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-button-light {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-button-light:hover {
    background-color: #231913;
}
.UI-dropdown-light {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    display: none;
}
.UI-dropdown-light:hover {
    background-color: #231913;
}
.UI-input-light {
    position: absolute;
    font-family: 'pixel';
    color: #000000;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: text;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-text-light {
    position: absolute;
    font-family: 'pixel';
    color: #000000;
    border: 0px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-link-light {
    color: #00ff90;
}
.UI-link-light:focus {
    color: #00aa70;
}

.disconnected {
    background-color: #ff0000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 75px;
    color: #000000;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
    user-select: none;
}
.disconnected:hover {
    opacity: 1;
    font-size: 150px;
}
.respawn {
    background-color: #555555;
    top: 0px;
    right: 0px;
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
    user-select: none;
}
.respawn:hover {
    opacity: 1;
    font-size: 45px;
    user-select: none;
}
.name {
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 15px;
}
.death-screen {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(255,0,0,0.3);
}

#mainAttack {
    bottom: 75px;
    left: 10px;
    user-select: none;
}
#secondaryAttack {
    bottom: 45px;
    left: 10px;
    user-select: none;
}
#heal {
    bottom: 15px;
    left: 10px;
    user-select: none;
}
#fps {
    bottom: 150px;
    left: 10px;
    user-select: none;
    color: white;
}

#chat-text {
    position: absolute;
    bottom: 36px;
    left: 30%;
    width: 622px;
    height: 135px;
    margin: 0px;
    padding: 0px;
    scroll-padding: 0px;
    overflow-y: scroll;
}
#chat-input {
    position: absolute;
    bottom: 10px;
    left: 30%;
    width: 610px;
    height: 20px;
}

#disconnected {
    position: absolute;
    top: 50%;
    left: 50%;
}
#blackShade {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    cursor: crosshair;
}
#mapName {
    position: absolute;
    font-size: 60px;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
    color: #362b20;
    background-color: #725640;
    border: 1px solid #000000;
    opacity: 0;
    cursor: crosshair;
}

#inventoryButton {
    position: absolute;
    right: 15px;
    bottom: 50px;
    padding: 5px;
}
#inventoryPlayer {
    position: relative;
    left: 4px;
    top: 40px;
    width: 88px;
    height: 164px;
    background-color: #1d1100;
    border: 1px solid #000000;
    margin: 5px;
}
#inventoryPlayerName {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;
    color: #ff7700;
    text-align: center;
}
#inventoryPlayerDisplay {
    position: absolute;
    left: 8px;
    top: 20px;
    margin: auto;
    width: 80px;
    height: 136px;
    cursor: crosshair;
}
#inventoryPlayerHead {
    position: absolute;
}
#inventoryPlayerBody {
    position: absolute;
}
#inventoryPlayerDisplayWeapon {
    position: absolute;
}
#inventoryItem {
    position: absolute;
    left: 8px;
    top: 230px;
    width: 455px;
    height: 134px;
    overflow-y: scroll;
}
#currentEquip {
    position: absolute;
    left: 120px;
    top: 40px;
    width: 345px;
}
#inventoryExit {
    position: absolute;
    font-family: 'pixel';
    font-size: 18;
    text-align: center;
    vertical-align: middle;
    background-color: #ff0000;
    border: 1px solid #000000;
    padding: 0px;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
}
#inventoryExit:hover {
    background-color: #aa0000;
}

#questInventoryDiv {
    top: 115px;
    float: right;
    user-select: none;
    width: 100px;
    height: 0px;
    display: block;
}

#selfDisplay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 160px;
    height: 80px;
    background-color: #362a1e;
    border: 1px solid #000000;
}
#healthBar {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 150px;
    height: 20px;
    font-family: "pixel";
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}
#healthBarValue {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 20px;
    background-color: #ff0000;
}
#healthBarText {
    position: absolute;
    left: 0px;
    top: -2px;
    width: 150px;
    height: 20px;
    font-family: "pixel";
    text-align: center;
    color: #ffffff;
}
#xpBar {
    position: absolute;
    left: 5px;
    top: 30px;
    width: 150px;
    height: 20px;
    font-family: "pixel";
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}
#xpBarValue {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 20px;
    background-color: #cccc00;
}
#xpBarText {
    position: absolute;
    left: 0px;
    top: -2px;
    width: 150px;
    height: 20px;
    font-family: "pixel";
    text-align: center;
    color: #ffffff;
}
#magicBar {
    position: absolute;
    left: 5px;
    top: 55px;
    width: 150px;
    height: 20px;
    font-family: "pixel";
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}
#magicBarValue {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 20px;
    background-color: #cc00cc;
}
#magicBarText {
    position: absolute;
    left: 0px;
    top: -2px;
    width: 150px;
    height: 20px;
    font-family: "pixel";
    text-align: center;
    color: #ffffff;
}

#menuDropdown {
    top: 0px;
    height: 30px;
}
#windowtoggle {
    top: 35px;
    height: 30px;
    width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#signOut {
    top: 65px;
    height: 30px;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#menuDropdownItem {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.dropdownShow {
    display: inline-block;
}
#menu {
    position: absolute;
    left: 165px;
    top: 0px;
    width: 80px;
}
#interactMenu {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 700px;
    height: 180px;
    background-color: #362a1e;
    border: 1px solid #000000;
    transform: translate(-50%, 0%);
}
.interactMenuButton {
    position: relative;
    left: 50%;
    top: 4px;
    width: 688px;
    height: 30px;
    margin-top: 4px;
    text-align: left;
    color: #dddddd;
    background-color: #2e2317;
    transform: translate(-50%, 0%);
}
#interactMenuText {
    position: relative;
    left: 50%;
    top: 4px;
    width: 688px;
    color: #dddddd;
    transform: translate(-50%, 0%);
}
#worldMapDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 610px;
    height: 610px;
    background-color: #1d1100;
    border: 1px solid #000000;
    transform: translate(-50%, -50%);
}
#worldMapCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 455px;
    height: 365px;
    border: 1px solid #000000;
    transform: translate(-50%, -50%);
}
#worldMapEntityCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 455px;
    height: 365px;
    border: 1px solid #000000;
    transform: translate(-50%, -50%);
    cursor: move;
    cursor: grab;
}
#worldMapEntityCanvas:active {
    cursor: grabbing;
}
.window {
    z-index: 2;
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 600px;
    height: 400px;
    font-family: 'pixel';
    background-color: #362a1e;
    border: 1px solid #000000;
    padding: 1px;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window .window-bar {
    padding-left: 6px;
    padding-top: 3px;
    cursor: move;
    background-color: #2c2216;
    border: 1px solid #000000;
    color: #ffffff;
}

.window .window-bar .window-close {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #eeeeee;
    width: 16px;
    height: 16px;
    padding-left: 2px;
    padding-top: 2px;
}

.window-body {
    position: absolute;
    margin: 1em;
    margin-top: 8px;
    color: #ffffff;
}

#debug-text {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 440px;
    height: 320px;
    color: #ffffff;
    overflow-y: scroll;
    user-select: contain;
}
#debug-input {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 440px;
    height: 20px;
    user-select: text;
}

.text {
    user-select: text;
}
.textNone {
    position: relative;
    user-select: none;
}
#inventoryButton {
    position: relative;
    top: 3px;
    left: 1px;
    width: 103px;
    height: 30px;
    margin-bottom: 1px;
    margin-right: 1px;
}
.menuButton {
    position: relative;
    top: 3px;
    left: 1px;
    width: 103px;
    height: 30px;
    margin-bottom: 1px;
    margin-right: 1px;
}
#menu-text {
    position: absolute;
    top: 33px;
    right: 5px;
    width: 120px;
    height: 358px;
    background-color: #2c2216;
    border: 1px solid #000000;
    overflow-y: scroll;
    overflow-x: hidden;
}
#stat-text {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 440px;
    height: 320px;
    color: #ffffff;
    user-select: none;
}

#questName {
    position: absolute;
    font-family: 'pixel';
    font-size: 30px;
    color: #ffffff;
    padding: 5px;
    cursor: default;
    left: 50%;
    top: 15%;
    width: 300px;
    text-align: center;
    transform: translate(-50%, 0%);
}
#questDescription {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    left: 50%;
    top: 45%;
    text-align: center;
    transform: translate(-50%, 0%);
}
#questStart {
    position: absolute;
    font-family: 'pixel';
    font-size: 20px;
    color: #ffffff;
    background-color: #007700;
    border: 1px solid #00aa00;
    cursor: pointer;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0%);
}
#questStart:hover {
    background-color: #005500;
    border: 1px solid #00aa00;
}
#windowMain {
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 465px;
    height: 372.6px;
}
.itemEquip {
    position: relative;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: #00ff00;
    border: 1px solid #00aa00;
    margin-left: 2px;
}
.itemDismantle {
    position: relative;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: #ff0000;
    border: 1px solid #aa0000;
    margin-left: 2px;
}
.itemEquip:hover {
    background-color: #009900;
}
.itemDismantle:hover {
    background-color: #990000;
}
.itemUnequip {
    position: relative;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: #ff0000;
    border: 1px solid #aa0000;
    margin-left: 2px;
}
.itemUnequip:hover {
    background-color: #990000;
}

.slider {
    position: relative;
    display: block;
    left: 8px;
    top: 50px;
    width: 100px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
#settingsPlayerDisplay {
    position: absolute;
    left: 8px;
    top: 20px;
    margin: auto;
    width: 80px;
    height: 136px;
    cursor: crosshair;
}
#settingsPlayer {
    position: relative;
    left: 4px;
    top: 40px;
    width: 88px;
    height: 164px;
    background-color: #1d1100;
    border: 1px solid #000000;
    margin: 5px;
}
#settingsPlayerName {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;
    color: #ff7700;
    text-align: center;
}
audio {
    position: absolute;
    top: -200px;
    left: -200px;
}

#pageDiv {
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    background-image: url("./maps/Preview.png");
    background-size: contain;
}
#pageShade {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.3;
}
#pageScroll {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
#pageName {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0%);
    font-size: 80px;
    font-family: 'pixel';
    color: #000000;
}

#pageStackLeft {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 35%;
    height: auto;
}
#pageStackRight {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 35%;
    height: auto;
}
.pageStackInner {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}
.pageStackOuter {
    position: relative;
    top: 0px;
    left: 0%;
    width: 100%;
    height: auto;
    overflow: hidden;
    min-height: 0px;
    margin-bottom: 8px;
}
#signInput {
    position: static;
    top: 8px;
    float: left;
    width: auto;
}
#signLabel {
    position: static;
    top: 8px;
    left: 8px;
    float: left;
    width: auto;
}
#signBottom {
    position: static;
    top: 52px;
    left: 8px;
    float: left;
    width: auto;
    margin-bottom: 12px;
}
#username {
    position: relative;
    top: 8px;
    left: 8px;
}
#password {
    position: relative;
    top: 8px;
    left: 8px;
}
#newPassword {
    position: relative;
    top: 8px;
    left: 8px;
}
#username-label {
    position: relative;
    top: 8px;
    left: 8px;
    color: #ffffff;
}
#password-label {
    position: relative;
    top: 12px;
    left: 8px;
    color: #ffffff;
}
#newPassword-label {
    position: relative;
    top: 12px;
    left: 8px;
    color: #ffffff;
}
#signIn {
    position: relative;
    top: 8px;
    left: 8px;
}
#createAccount {
    position: relative;
    top: 8px;
    left: 8px;
}
#deleteAccount {
    position: relative;
    top: 8px;
    left: 8px;
}
#changePassword {
    position: relative;
    top: 8px;
    left: 8px;
}

.menuText {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 440px;
    height: 320px;
    color: #ffffff;
    user-select: none;
}
#audioSwitch {
    position: absolute;
    left: 120px;
    top: 45px;
}
#chatBackground {
    position: relative;
    left: 120px;
    top: 8px;
}